body {
    font-family: sans-serif;
    background-color: orange;
    color: white;
}

h1 {
    text-align: center;
}
.galary img{
    width: 400px;
    height: 300px;
}
nav a {
    text-decoration: none;
    color: orange;
    background-color: white;
    border-radius : 50px;
    font-size: 21px;
    padding: 5px;
    margin: 5px;
}
nav{ text-align: center;}
img{
    border: 3px double grey;
}
iframe{
    border: 3px solid grey;
}
footer a{
    text-decoration: none;
    margin: 25px;
}
footer{
    background-color: darkgrey;
}
